---
layout: default
title: Ajalugu - Lapikud
---
<div class="page" id="history">
  <h1>Ajalugu</h1>
  <p>MTÜ Lapikud loodi 2002. aasta 23. veebruaril. Organisatsiooni lõi sõpruskond informaatikuid, kellele meeldis koos
    aega viita. Põhjus, miks üldse MTÜ tehti seisnes selles, et saada .ee domeen. Nimi “Lapikud” tuleneb sellest, et
    siis oli informaatikute erialatähiseks “LAP”. Organisatsioon tegutses aastatel 2002 kuni 2010 eesmärgiga sisustada
    IT tudengite vaba aega ning toetada IT õpinguid. Aastast 2011 tituleerisid Lapikud ennast Tarkvaraarenduse klubiks,
    ning organisatsiooni fookus on suunatud tudengite kaasamisse erinevatesse tarkvaraarenduse projektidesse. 2012.
    aasta kevadel kaitsti ära esimene Lapikutest koorunud lõputöö hindele 5.</p>

  <h1 class="centered-text">Organisatsiooni juhtinud inimesed läbi aegade</h1>

  {% for management in site.data.past_management %}
  <div class="management-for-year">
    <h2 class="centered-text">{{management.year}}</h2>
    <div class="year">
      {% for member in management.members %}
      <div class="person">
        <div class="img-container">
          <img src="{{ "/assets/past-management-images/optimised/" | append: member.image }}" alt="{{ member.name }}">
        </div>
        <h5 class="centered-text">{{ member.name }}</h5>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}

</div>
