---
layout: default
title: Lapikud
---

<!-- home -->
<section class="container home">
  <div class="logo_container">
    <img id="logo" src="{{ "/assets/logo.svg " | relative_url }}">
  </div>

  <!-- three icons -->
  <div class="row row-center lg-icon-container">
    <a href="/student">
      <div class="column">
        <svg class=lg-icon height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 2v11h3v9l7-12h-4l4-8z"/>
        </svg>
        <div>
          <h3 class="regularText">Tudengile</h3>
          <p class="regularText">Tule arenda oma oskuseid ja saa ägedaid sõpru</p>
          <p>Uuri edasi meie tegevuste kohta -></p>
        </div>
      </div>
    </a>

    <a href="/helpdesk">
      <div class="column">
        <svg class=lg-icon height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path
                  d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/>
        </svg>
        <div>
          <h3 class="regularText">Helpdesk</h3>
          <p class="regularText">Tudengisõbralik arvutiparandus!</p>
          <p>Tööde hinnakiri -></p>
        </div>
      </div>
    </a>

    <a href="/ourwork">
      <div class="column">
        <svg class=lg-icon height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path
                  d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/>
        </svg>
        <div>
          <h3 class="regularText">Ettevõttele</h3>
          <p class="regularText">Aitame sinu ideed ellu viia!</p>
          <p>Tehtud tööd -></p>
        </div>
      </div>
    </a>
  </div>

  <div class="description">
    <h1>Kes me oleme?</h1>
    <p>
      MTÜ Lapikud on Tallinna Tehnikaülikooli Tarkvaraarendusklubi, mis ühendab endisi ja praegusi IT huvilisi tudengeid. Organisatsioon
      loodi 2002. aastal informaatika tudengite poolt, kelle erialatunnuseks oli “LAP”. Targad mehed otsustasid, et
      järelikult on nad “Lapikud”.
    </p>

    <h1>Millega tegeleme?</h1>
    <p>
      Meie põhieesmärgiks on Tallinna Tehnikaülikooli IT tudengite erialase lisandväärtuse loomine. Kaasame tudengeid huvitavatesse IT
      projektidesse ning anname tudengitele võimaluse midagi reaalset oma käega midagi ära teha. Meie projektidest
      kooruvad välja huvitavad ja tarvilikud lõputööd. Pakume nutikatele tudengitele võimalust saada meie juures esimene
      töökogemus. Lapikud ei ole ainult IT tudengite organisatsioon – püüame kaasata oma tegevusse ka
      majandusteaduskonna tudengeid, et projektides oleks esindatud ka äriline pool.
    <p>
  </div>


  <div class="partners">
    <h1>Koostööpartnerid</h1>
    <div id="partners-container">
      {% for partner in site.data.partners %}
      <a href="{{ partner.url }}" target="_blank" rel="noopener noreferrer">
        <img src="{{ "/assets/partners/" | append: partner.image }}" alt="{{ partner.name }}">
        {% if partner.additionalText != null %}
        <h4>{{ partner.additionalText}}</h4>
        {% endif %}
      </a>
      {% endfor %}

    </div>

  </div>


</section>
