---
layout: default
---
<div class="page" id="mentors">
  <h1>Mentorid</h1>
  <h3>Siin on meie mentorid. Kui leiad kellegi, kellega huvid kattuvad, võta temaga julgelt ühendust!</h3>

  {% for mentor in site.data.mentors %}

  <div class="mentor">
    <div class="photo-container">
      <img src="{{ mentor.photo }}">
    </div>
    <div class="description">
      <div class="general">
        <h1>{{ mentor.name }}</h1>
        <p>Vanus: {{ mentor.age }}</p>
        <p>Eriala: {{ mentor.specialty }}</p>
        <p>Kursus: {{ mentor.term }}</p>
        <p>Tiimid:</p>
        <ul>
          {% for team in mentor.teams %}
          <li>{{ team }}</li>
          {% endfor %}
        </ul>
        <p>Telefon: <a href="tel:{{ mentor.phone }}">{{ mentor.phone }}</a></p>
        <p>E-mail: <a href="mailto: {{ mentor.email }}">{{ mentor.email }}</a></p>
      </div>

      <div class="varia">
        <h4>Miks peaksid valima minu enda mentoriks?</h4>
        <p>{{ mentor.description }}</p>
        <h4>Millega tegelen väljaspool Lapikuid?</h4>
        <p>{{ mentor.activities }}</p>
      </div>
    </div>
  </div>

  {% endfor %}


</div>
