---
layout: default
title: Mentorid - Lapikud
---
<div class="page" id="mentors">
  <h1>Onboarding</h1>
  <h3>Siin on meie 2023. aasta mentorid. Nemad on õiged inimesed, kelle poole pöörduda küsimuste tekkimisel seoses liitumise või Lapikutega üldiselt! </h3>

  {% assign sorted_mentors = site.data.mentors | sort: 'name' %}
  {% for mentor in sorted_mentors %}

  <div class="mentor">
    <div class="photo-container">
      <img src="{{ '/assets/mentors-images/optimised/' | append: mentor.photo }}" alt="{{ mentor.name }}">
    </div>
    <div class="description">
      <div class="general">
        <h1>{{ mentor.name }}</h1>
        <p>Vanus: {{ mentor.age }}</p>

        {% if mentor.specialty != null %}
        <p>Eriala: {{ mentor.specialty }}</p>
        {% endif %}

        {% if mentor.term != null %}
        <p>Kursus: {{ mentor.term }}</p>
        {% endif %}

        <p>Tiimid:</p>
        <ul>
          {% for team in mentor.teams %}
          <li>{{ team }}</li>
          {% endfor %}
        </ul>

        {% if mentor.contactMethods != null %}
        <p>Kontaktid:</p>
        {% endif %}
        <ul>
          {% for contactMethod in mentor.contactMethods %}

          {% if contactMethod.name == 'Telefon' %}
          <li>
            Telefon: <a href="tel:{{ contactMethod.value }}">{{ contactMethod.value }}</a>
          </li>
          {% elsif contactMethod.name == 'E-mail' %}
          <li>
            E-mail: <a href="mailto: {{ contactMethod.value }}">{{ contactMethod.value }}</a>
          </li>
          {% elsif contactMethod.name == 'Messenger' %}
          <li>
            Messenger: <a href="{{ contactMethod.value }}">{{ contactMethod.value }}</a>
          </li>
          {% elsif contactMethod.name == 'Telegram' %}
          <li>
            Telegram: <a href="{{ contactMethod.value }}">{{ contactMethod.value }}</a>
          </li>
          {% elsif contactMethod.name == 'Facebook' %}
          <!--<p>Facebook <a href="{{ contactMethod.value }}">{{ contactMethod.value }}</a></p>-->
          <li>
            <a href="{{ contactMethod.value }}">Facebook</a>
          </li>
          {% else %}
          <li>
            {{ contactMethod.name }}: {{ contactMethod.value }}
          </li>
          {% endif %}

          {% endfor %}
        </ul>
      </div>

      <div class="varia">
        <h4>Milliseid inimesi ootan oma piksliteks?</h4>
        {% if mentor.description.first %}
        {% for descriptionLine in mentor.description %}
        {% if descriptionLine == '' %}
        <br>
        {% else %}
        <p>{{ descriptionLine }}</p>
        {% endif %}
        {% endfor %}
        {% else %}
        <p>{{ mentor.description }}</p>
        {% endif %}
        <h4>Milline Lapik olen ise?</h4>
        {% if mentor.activities.first %}
        {% for activitiesLine in mentor.activities %}
        {% if activitiesLine == '' %}
        <br>
        {% else %}
        <p>{{ activitiesLine }}</p>
        {% endif %}
        {% endfor %}
        {% else %}
        <p>{{ mentor.activities }}</p>
        {% endif %}
      </div>
    </div>
  </div>

  {% endfor %}

</div>
