<footer class="main-footer">
  <section class="container">
    <div class="row">
      <div class="column footer-contact">
        <h3>MTÜ Lapikud</h3>
          <p>Aadress: Akadeemia tee 5, 12616 Tallinn, Eesti</p>
          <p>E-post: <a href="mailto:lapikud@lapikud.ee">lapikud@lapikud.ee</a></p>
          <p>Telefon: <a href="tel:+372 58 160 799">+372 58 160 799</a></p>
          <p>Reg. kood: 801 67 145</p>
        <p>Swedbank EE812200221019551756</p>
      </div>
      <div class="column footer-nav">
        <h3>Navigatsioon</h3>
        <ul>
          <li><a href="/">Esileht</a></li>
          {% include main_nav.html %}
        </ul>
      </div>
      <div class="column footer-nav">
        <h3>Jälgi meid!</h3>
        <ul>
          <li><a href="https://www.instagram.com/lapikud/">Instagram</a></li>
          <li><a href="https://www.facebook.com/Lapikud/">Facebook</a></li>
          <li><a href="https://github.com/Lapikud/">GitHub</a></li>
          <li><a href="https://github.com/Lapikud/lapikud.github.io">Source Code</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="column footer-copyright">
        <a href="https://lapikud.ee">&copy; 2019 MTÜ Lapikud</a>
      </div>
    </div>
  </section>
</footer>
