<footer class="main-footer">
  <section class="container">
    <div class="row">
      <div class="column">
        <h3>About us</h3>
        <p>
          Lapikud is brought to you by awesome people at TTÜ Software development club
          <a href="https://lapikud.ee">Lapikud</a>.
        </p>
      </div>
      <div class="column footer-nav">
        <h3>Navigation</h3>
        <ul>
          <li><a href="/">Home</a></li>
          {% include main_nav.html %}
        </ul>
      </div>
      <div class="column footer-nav">
        <h3>Jälgi meid!</h3>
        <ul>
          <li><a href="https://www.instagram.com/lapikud/">Instagram</a></li>
          <li><a href="https://www.facebook.com/Lapikud/">Facebook</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="column footer-copyright">
        <a href="https://lapikud.ee">&copy; 2018 MTÜ Lapikud</a>
      </div>
    </div>
  </section>
</footer>
