<!-- header.scss -->
{% assign pages = site.data.i18n.pages.all %}
<nav class="navigation">
  <a href="{{site.data.i18n.pages.all[page.language].home.url}}" {% if page.url == '/' or page.url == '/en/' %}style="display: none;"{% endif %}>
	<img id="header-logo" class="logo" src="{{ "/assets/logo.svg " | relative_url }}">
  </a>

  <div class="menu">
    <a href="#" class="float-right" id="main-menu-button">
      <svg class="logo" height="32" width="32" viewBox="0 0 768 1024" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 192v128h768v-128h-768z m0 384h768v-128h-768v128z m0 256h768v-128h-768v128z" />
      </svg>
    </a>

    <ul id="main-menu">
      {% include main_nav.html %}
      {% if page.language == "ee" %}
      <li><a class="flag" id="flag-en" href="{{ pages.en[page.tag].url }}"></a></li>
      {% elsif page.language == "en" %}
      <li><a class="flag" id="flag-ee" href="{{pages.ee[page.tag].url}}"></a></li>
      {% endif %}
    </ul>
  </div>

</nav>
