.centered-text {
  text-align: center;
}

#contact-helpdesk {
  display         : flex;
  justify-content : center;
  align-items     : center;

  #contact-helpdesk-banner-container {
    background : black;
    padding    : 3rem;
  }

  #contact-helpdesk-banner {
    display : block;
    width   : 100%;
    height  : auto;
  }
  #contact-helpdesk-banner-container, #contact-helpdesk-info {
    flex   : 1;
    margin : 0 2rem;
  }
}

#contact-management {

  #container {
    display         : flex;
    flex-direction  : row;
    flex-wrap       : wrap;
    justify-content : center;

    .person {
      margin-left   : 2rem;
      margin-right  : 2rem;
      margin-bottom : 5rem;

      img {
        display : block;
        width   : 100%;
        height  : auto;
      }

      * {
        margin: 0.2rem 0;
      }
    }

  }
}

#contact-main {
  margin: 2rem 0;
  p {
    margin: 0.2rem 0;
  }
}


@media (max-width : 900px) {

  #contact-helpdesk {
    flex-direction : column;

    #contact-helpdesk-banner-container, #contact-helpdesk-info {
      margin : 0;
    }
  }


}
