.navigation {
    margin-top: .5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    padding: 1rem 2rem;
    height: 50px;
    background: #ffffff;
    color: #f0941d;
    max-width: 112.0rem;

    .logo {
        height: 32px;
        vertical-align: middle;
        display: inline;
    }

    #header-logo {
        height : 8rem;
    }


    .menu {
        display: inline;

        @media (max-width: 40.0rem) {
            ul, &:active ul {
                display: none;
                position: absolute;
                top: 45px;
                right: 20px;
                z-index: 10;
                background: #fff;
                border: 1px solid #DDDDDD;
                width: 20rem;
                margin: 0;
                padding: 0.5rem 0;

                li {
                    display: block;
                    margin: 0;
                    padding: 0;
                    a {
                        width: 100%;
                        display: block;
                        text-align: center;
                        padding: 1rem 2rem;
                    }
                }
            }

            &:hover ul {
                display: inline-block;
            }

            #main-menu-button svg {
                fill: #000000
            }

            #main-menu-button:hover svg {
                fill: $color-secondary;
            }

            #main-menu-button:active svg {
                fill: $color-primary;
            }
        }
    }

    @media (min-width: 40.1rem) {
        #main-menu-button {
            display: none;
        }

        .menu ul {
            margin: 0;
            display: inline-block;
            float: right;

            li {
                display: inline-block;
                margin: 0;
                padding: 0;
                a {
                    padding: 1rem;
                }
            }

            .register-button {
                border: 0.1rem solid $color-primary;
                border-radius: .4rem;

                &:hover {
                    color: #ffffff;
                    background-color: $color-secondary;
                    border-color: $color-secondary;
                }
            }
        }
    }
}
