.home {

  @media (max-width : 900px) {
    h1 {
      font-size : 3.6rem;
    }
  }

  .logo_container {
    display         : flex;
    flex-direction  : row;
    flex-wrap       : wrap;
    align-items     : center;
    justify-content : center;
    text-align      : center;
    margin          : 4rem 0;

    #logo {
      max-width : 60rem;
      width     : 100%;
      padding   : 50px 90px;
    }
  }

  .lg-icon-container {
    justify-content : flex-start;
    align-content   : flex-start;
    align-items     : flex-start;
    margin          : 0;
    margin-top      : 4rem;
    display:flex;

    a {
      flex-direction  : row;
      justify-content : center;
      align-items     : center;
      align-content   : flex-start;
      text-align      : left;
      flex   : 2;

      .lg-icon {
        fill   : #f0941d;
        width  : 10rem;
        height : 10rem;
        flex   : 1;
      }

      .regularText {
        color: #1e1e1e;
      }
    }

    @media (min-width : 40.0rem) {
      .column {
        flex-direction  : column;
        justify-content : flex-start;
        align-items     : center;
        align-content   : flex-start;
        text-align      : center;
      }
    }
  }
  .description {
    margin-top : 1em;
  }
  @media (min-width : 40.0rem) {
    .description {
      margin-top : 3em;
    }
  }

  .partners {
    #partners-container {
      display         : flex;
      flex-wrap       : wrap;
      justify-content : space-evenly;
      align-items     : center;

      a {
        color : #1e1e1e;
        img {
          max-width  : 300px;
          max-height : 150px;
          width      : 100%;
          height     : auto;
          object-fit : scale-down;
          margin     : 1rem auto;
        }
        h4 {
          text-align : center;
        }
      }
    }

    @media (max-width : 900px) {
      #partners-container {

        flex-direction : column
      }
    }
  }

}
