#ourwork-banner {
  margin : 5rem 0;

  a {
    display         : flex;
    justify-content : center;
  }

}

#ourwork-done {

  .work-item {
    padding        : 1rem;
    margin         : 7rem 0;
    display        : flex;
    flex-direction : row;
    max-height     : 75vh;

    .description {
      flex : 2;

      h3 {
        white-space   : nowrap;
        overflow      : hidden;
        text-overflow : ellipsis;
      }
    }

    .thumbnail {
      flex            : 3;
      display         : flex;
      justify-content : center;
      align-items     : center;
    }

    img {
      display    : block;
      width      : auto;
      height     : auto;
      max-height : 50vh;
    }

    h2, h3 {
      text-align    : center;
      margin-bottom : 0.3rem;
    }

  }
}

@media (max-width : 900px) {

  #ourwork-done {

    .work-item {
      flex-direction : column;
      max-height     : none;
    }
  }

  #ourwork-banner {
    h1 {
      font-size : 3.6rem;
    }

  }
}
