
.banner {
  background    : #f0941d;
  color         : white;
  font-weight   : bold;
  padding       : 2rem;
  border-radius : 8rem;
}

.page {
  display        : flex;
  flex-direction : column;
  flex           : 1;
  width          : 85vw;
  max-width      : 1200px;
  min-height     : 50vh;
  margin         : 5rem auto 0;
}

.centered-text {
  text-align : center;
}
