.activities-info {
  display        : flex;
  flex-direction : row;
  margin         : 3rem auto;

  .desc {
    flex          : 1;
    padding-right : 3rem;

  }
  .promo-image {
    display     : flex;
    align-items : center;
    flex        : 1;

    img {
      display : block;
      width   : 100%;
      height  : auto;
    }
  }
}

@media (max-width : 900px) {
  .activities-info {
    flex-direction : column;

    .desc {
      padding : 0;
      h1 {
        font-size : 3.6rem
      }
    }
  }
}
