.activities-info {
  display : flex;flex-direction: row;
  margin: 3rem auto;

  .desc {
    flex: 1;

    h2 {

    }
  }
  .promo-image {
    flex: 1;

    img {
      display : block;
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width : 900px) {
  .activities-info {
    flex-direction: column;
  }
}
