---
---
$color-primary: #f0941d;
$color-secondary: #ffa80d;

body {
    color: #1e1e1e;
    font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
}

a, a:link, a:visited {
    color: $color-primary;
}
a:active, a:hover {
    color: $color-secondary;
}

h4 {
    font-weight: 400;
}

@import 'header';
@import 'footer';
@import 'home';
@import 'mentors';
@import 'contact';
@import 'helpdesk';
